.root {
  color: var(--black);
}

.header {
  font-size: 3.2rem;
  text-align: center;
  font-weight: 600;
}

.figure {
  display: flex;
  flex-flow: column nowrap;
  max-width: 32rem;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.img {
  margin: 0;
  border: 2px solid var(--black);
  padding: var(--base-unit);
}

.caption {
  font-size: 0.9rem;
}
